.headerWrapper {
	background-color: #6fe2f1;
	display: flex;
	align-items: center;
	height: 100px;
	color: #282c34;
}

.header {
	margin: 1rem;
	text-align: center;
	font-size: 2rem;
	height: 50px;
}

.nav {
	display: flex;
	justify-content: right;
	align-items: center;
	height: 50px;
	background-color: #f1f1f1;
}

.navLink {
	margin: 0 1rem;
	text-decoration: none;
	color: #282c34;
	font-size: 1.2rem;
}

.navLink:hover {
	color: #61dafb;
	text-decoration: underline;
}
